---
title: Hello!
layout: layouts/home.njk
description: Personal blog of Mike McDougal
image: /img/12-22_moon.png 
date: Last Modified
---

<p>
  My name is Mike 'mcdoogs' McDougal, developer and serial tech tinkerer. This is my personal blog. You can read more about me <a href="/about">here</a> or check out a post below!
</p>
<p>
  This blog is still in its infancy, and I'm currently using it to try out a number of different tech stacks, so it might be broken or change wildly at any point. You've been warned!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>