---
title: Hello!
layout: layouts/home.njk
description: Personal blog of Mike McDougal
image: /img/12-22_moon.png 
date: Last Modified
---

<p>
  My name is Mike 'mcdoogs' McDougal, developer and serial tech tinkerer. This is my personal blog.
</p>
<p>
  It's currently a very vanilla implementation of <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
  This is the first time I've used 11ty, so this is largely a test and the site will probably be in rough shape for a while. You've been warned!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>